@import "./lib/core/reset";
@import "./usage/core/common";
@import "./usage/core/swiper.min.css";

@import "./usage/module/guide";
@import "./usage/module/home";

body,html{
	width:100%;
	height:100%;
	overflow: hidden;
}
.wrap{
	width: 100%;
	height: 100%;
}